services:
  database:
    image: postgres:latest
    container_name: turbbbites-db-container
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./database/initdb.sql:/docker-entrypoint-initdb.d/initdb.sql
volumes:
  db_data:
